.Popover {
  position: relative;
}

.TriggerButton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.Panel {
  background-color: var(--card-bg);
  position: absolute;
  z-index: 999;
  border-radius: 8px;
  padding: 16px;
}

.BottomLeft {
  top: 100%;
  right: 0;
}

.BottomRight {
  top: 100%;
  left: 0;
}

.TopLeft {
  bottom: 100%;
  right: 0;
}

.TopRight {
  bottom: 100%;
  left: 0;
}
