.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-xxl);
}

.Loader,
.Error {
  height: 300px;
}

.Error {
  color: var(--color-cancel);
}

.Content {
  width: 100%;
  display: flex;
  gap: var(--gutter-s);
  flex-direction: column;

  @media (min-width: '768px') {
    flex-direction: row;
  }
}

.SelectsContainer {
  display: flex;
  gap: var(--gutter-s);
  flex-direction: column;

  @media (min-width: '768px') {
    flex-direction: row;
  }
}
