.Card {
  padding: var(--gutter-s);
  border-radius: var(--border-radius);
}

.Primary {
  background-color: var(--color-background-dark);
}

.Secondary {
  border: 1px solid var(--color-accent);
}

.Light {
  background-color: var(--color-background-light);
}

.FullWidth {
  width: 100%;
}

.Gap0 {
  padding: 0;
}

.Gap8 {
  padding: var(--gutter-xxs);
}

.Gap16 {
  padding: var(--gutter-s);
}

.Gap24 {
  padding: var(--gutter-l);
}
