.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
  opacity: 0;
  pointer-events: none;
}

.Content {
  padding: 20px;
  border-radius: 8px;
  background: var(--color-background-light);
  transition: 0.2s transform;
  transform: scale(0.5);
  max-width: 60%;
  z-index: var(--modal-z-index);
}

.Opened {
  pointer-events: auto;
  opacity: 1;

  .Content {
    transform: scale(1);
  }
}

.IsClosing {
  .Content {
    transform: scale(0.1);
  }
}
