.Button {
  cursor: pointer;
  color: var(--color-text);
  background: none;
  outline: none;
  border: none;

  &:disabled {
    color: var(--color-hint);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    color: var(--color-accent);
  }
}

.S {
  padding: var(--gutter-xxxs) var(--gutter-xs);
  font: var(--new-font-s);
}

.M {
  padding: var(--gutter-xs) var(--gutter-s);
  font: var(--new-font-m);
}

.L {
  padding: var(--gutter-s) var(--gutter-m);
  font: var(--new-font-l);
}

.Primary {
  border: 1px solid var(--color-icon);
  border-radius: var(--border-radius);
}
