.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  flex-shrink: 0;
}

.Switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.Items {
  padding: 20px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.Collapsed {
  width: var(--sidebar-width-collapsed);

  .Switchers {
    flex-direction: column;
  }

  .Items {
    align-items: center;
  }
}

.CollapseButton {
  position: absolute;
  right: -32px;
  bottom: 32px;
  z-index: 2;
}
