.Sidebar {
  background: var(--color-background-light);
  width: 220px;
  height: 100%;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
}

.AppLogo {
  padding-top: var(--gutter-m);
}

.Switchers {
  position: absolute;
  bottom: 40px;
  display: flex;
  width: 100%;
  gap: var(--gutter-xxs);
  justify-content: center;
  align-items: center;
}

.Items {
  margin-top: var(--gutter-m);
}

.CollapseButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: var(--gutter-xs);
}

.Collapsed {
  width: 70px;

  .Switchers {
    flex-direction: column;
  }

  .Items {
    margin-top: var(--gutter-m);
    padding: 0;
  }

  .CollapseButton {
    right: var(--gutter-l);
  }
}
