.Drawer {
  position: fixed;
  inset: 0;
  z-index: var(--modal-z-index);
}

.Wrapper {
  position: fixed;
  background: var(--color-background-light);
  width: 100%;
  z-index: var(--modal-z-index);
  transition: left 0.2s ease, right 0.2s ease, bottom 0.2s ease;
}

.Content {
  position: relative;
  padding: var(--gutter-m);
  overflow-y: auto;
  overflow-x: hidden;
}

.CloseButton {
  position: absolute;
  top: var(--gutter-xxs);
  right: var(--gutter-xxs);
}
