.ArticleDetails {
  min-height: 100%;
}

.Avatar {
  margin: 0 auto;
}

.Title {
  margin-top: 20px;
}

.Skeleton {
  margin-top: 14px;
}

.ArticleInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.AvatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
