.List {
  flex-shrink: 0;

  .Image {
    max-width: 100%;
    height: 420px;
    object-fit: cover;
    align-self: center;
  }

  .TextBlock {
    max-height: 72px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
}

.Plate {
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  flex-shrink: 0;

  @media (min-width: '1280px') {
    width: calc((100% - 42px) / 3);
    min-width: 200px;
  }

  .Card {
    overflow: hidden;
  }

  .Image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;

    @media (min-width: '1280px') {
      height: 140px;
    }
  }

  .Title {
    max-height: 96px;
    overflow-y: hidden;
    text-overflow: ellipsis;

    @media (min-width: '1280px') {
      height: 96px;
    }
  }

  .Content {
    width: 100%;
    padding: var(--gutter-xxs) var(--gutter-xxs) var(--gutter-s)
      var(--gutter-xxs);
  }
}

.Icon {
  color: var(--color-icon);
}
