.App,
.AppMobile {
  min-height: calc(var(--vh, 1vh) * 100);
  background: var(--color-background);
  color: var(--color-text);
  font: var(--new-font-s);
}

.App {
  min-width: 1280px;
}

.AppMobile {
  min-width: 320px;
}
