.Code {
  border: 1px solid var(--color-accent);
  padding: var(--gutter-m);
  background: var(--color-background-light);
  overflow: auto;
}

.Container {
  position: relative;
}

.CopyButton {
  position: absolute;
  right: var(--gutter-m);
  top: var(--gutter-m);
}
