.App {
  background: var(--bg-color);
  min-height: 100vh;
}

.Content {
  display: flex;
}

.PageWrapper {
  flex-grow: 1;
  padding: 20px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
}
