.MainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: 284px 1fr 100px;
}

.Sidebar {
  grid-area: sidebar;
  padding: var(--gutter-xxl);
  position: sticky;
  top: 0;
  height: 100vh;
}

.Content {
  grid-area: content;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
  padding: var(--gutter-xxl);
}

.Rightbar {
  grid-area: rightbar;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Header {
  justify-self: end;
}

.Toolbar {
  height: 100%;
}
