.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.NavbarRedesigned {
  padding: var(--gutter-s);
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AuthButton,
.Actions {
  margin-left: auto;
}

.ProjectName {
  width: var(--sidebar-width);
}
