.Label {
  font: var(--font-m);
  color: var(--primary-color);
}

.Value {
  font: var(--font-s);
  color: var(--secondary-color);
}

.Error {
  .Label {
    color: var(--red-light);
  }

  .Value {
    color: var(--red-dark);
  }
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.Center {
  text-align: center;
}
