.app_dark_theme {
  --color-background: #0c1214;
  --color-background-dark: #090f11;
  --color-background-light: #151c1f;
  --color-text: #dbdbdb;
  --color-hint: #555;
  --color-cancel: #d95757;
  --color-save: #6cd98b;
  --color-icon: #74a2b2;
  --color-accent: #5ed3f3;
}
