.app_light_theme {
  --color-background: #eff5f6;
  --color-background-dark: #fff;
  --color-background-light: #e2eef1;
  --color-text: #141c1f;
  --color-hint: #adbcc0;
  --color-cancel: #f77;
  --color-save: #62de85;
  --color-icon: #5ed3f3;
  --color-accent: #00c8ff;
}
