.app_orange_theme {
  --color-background: #f0c048;
  --color-background-dark: #fff3d6;
  --color-background-light: #f2d791;
  --color-text: #1b1311;
  --color-hint: #b8b2a2;
  --color-cancel: #ff5e5e;
  --color-save: #52fa81;
  --color-icon: #4875f0;
  --color-accent: #1d59ff;
}
