.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-xxl);
}

.Loader,
.Error {
  height: 300px;
}

.Error {
  color: var(--color-cancel);
}
