.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.Loader,
.Error {
  height: 300px;
}

.Error {
  color: var(--red-light);
}

.Editing {
  border: 2px solid var(--inverted-primary-color);
}
