.NavbarRedesigned {
  padding: var(--gutter-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-light);

  @media (min-width: '1280px') {
    justify-content: flex-end;
    background-color: transparent;
  }
}
