.Dropdown {
  position: relative;
}

.TriggerButton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.Menu {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  position: absolute;
  z-index: var(--popup-z-index);
  border-radius: 8px;
  overflow: hidden;
  color: var(--primary-color);
  margin-top: 4px;
  border: 1px solid var(--primary-color);
}

.Item {
  width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  white-space: nowrap;
  color: inherit;

  &:hover {
    opacity: 0.8;
  }
}

.ActiveItem {
  background-color: var(--primary-color);
  color: var(--inverted-primary-color);
}

.BottomLeft {
  top: 100%;
  right: 0;
}

.BottomRight {
  top: 100%;
  left: 0;
}

.TopLeft {
  bottom: 100%;
  right: 0;
}

.TopRight {
  bottom: 100%;
  left: 0;
}
