.Dropdown {
  position: relative;
}

.TriggerButton {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.Menu {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  position: absolute;
  z-index: 999;
  border-radius: 8px;
  overflow: hidden;
  color: var(--primary-color);
  margin-top: 4px;
}

.Item {
  padding: 12px 20px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  white-space: nowrap;
}

.ActiveItem {
  background-color: var(--primary-color);
  color: var(--inverted-primary-color);
}

.BottomLeft {
  top: 100%;
  right: 0;
}

.BottomRight {
  top: 100%;
  left: 0;
}

.TopLeft {
  bottom: 100%;
  right: 0;
}

.TopRight {
  bottom: 100%;
  left: 0;
}
