.AppLink {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.Primary {
  color: var(--primary-color);
}

.Inverted {
  color: var(--inverted-primary-color);
}
